.headingh2, .applicanth2, .referencesh2, .additionalInfoh2, .disclaimerh2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    margin-top: 50px;
}

h2 {
    font-weight: bold;
}

label {
    font-weight: bold;
}

.form-check {
    display: block;
}
.form-check input,
.form-check label {
    display: inline;
    vertical-align: middle;
}

.buttons {
    display: inline;
}

.highschoolh3, .collegeh3, .referenceh3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.degree {
    padding-left: 0;
}

hr {
    border: 2px solid black;
    margin-top: 10px;
}

form h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
}

.form-group {
    padding-left: 0;
}

#submit-btn {
    margin-right: 10px;
    background-color: #fe0000;
    border: 1px solid #fbd800;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

#submit-btn:hover {
    background-color: #fbd800;
    color: #fe0000;
    border: 1px solid #fe0000;
}

#submit-btn:active {
    border: 1px solid #fe0000;
}