body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: url(/Images/fruit_bg-1000x630.jpg) no-repeat;
    background-size: cover;
}

/* HEADER START */
header {
    background-color: black;
}

.navbar, .navbar-brand {
    padding: 0;
}

#logo {
    background: url(/Images/CFMLogo2.png);
    height: 90px;
    width: 120px;
    margin: 0;
}

#logo:hover {
    opacity: .7;
}

#rewards-btn {
    margin-right: 10px;
    background-color: #fe0000;
    border: 1px solid #fbd800;
    font-weight: bold;
}

#rewards-btn:hover {
    background-color: #fbd800;
    color: #fe0000;
    border: 1px solid #fe0000;
}

#rewards-btn:active {
    border: 1px solid #fe0000;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: none;
    color: black;
    background-color: white;
}

#header-navlink:hover {
    color:black;
}

#navtoggle {
    border: 1px solid white;
    margin-right: 10px;
}

#navtoggle:hover {
      background-color: white;
}

#navtoggleicon:hover {
    border: 1px solid black;
}

.dropdown-menu {
    background-color: black;
    color: white;
}

.dropdown-item {
    color: white;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: white;
    color: black;
}

.line {
    border: 1px solid white;
}

#nav-ul, .navbar-dark, .nav-link, .navbar-nav {
    color: white;
}


/******* END HEADER *******/

/******* FOOTER START ********/
#footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    font-size: 1rem;
}

#hours, #address {
    margin-top: 10px;
}

.row section {
    padding-top: 10px;
}

/******* END FOOTER *********/

/******* MAIN CONTENT ******/

.banner-div {
    width: 100%;
    margin-bottom: 20px;
}

.banner {
    padding: 0;
    width: 100%;
}

.banner:hover {
    opacity: .7;
}

#heading {
    font-size: 4.5rem;
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Yesteryear', cursive;
}

.jumbotron {
    text-align: center;
    background: transparent;
}

.main-img {
    box-shadow: 8px 8px 8px 8px black;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
}

.container1 {
    position: relative;
    width: 100%;
    padding-top: 15px;
}


.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fe0000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: .8;
}

.container1:hover .overlay {
    bottom: 0;
    height: 100%;
}
  
#text {
    white-space: nowrap; 
    color: white;
    font-size: 2rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-weight: bold;
    font-style: italic;
}

#carousel {
    height: 100%;
}

#carousel .carousel-inner .carousel-item img {
    border-radius: 7px;
}
  

#special1, #special2, #special3 {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 8px;
}

.locationsH3, .dealsH3, .adH3 {
    margin-left: 15px;
}

.locationHr, .dealsHr, .adHr {
    padding: 0;
    border: 1px solid #fe0000;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.adPic {
    padding-left: 0;
    padding-right: 0;
}

#location-map, #special2 {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    
}

#location-map iframe {
    border: 3px solid black;
    width: 100%;
    border-radius: 8px;
}

.locationsdiv {
    text-decoration: none;
    color: black;
    padding-left: 0;
    padding-right: 0;
}

.locationsdiv:hover {
    text-decoration: none;
    color: black;
}

#special2 {
    background-color: #fe0000;
    border: 1px solid black;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px 3px rgb(110, 110, 110);
}

.iframe {
    box-shadow: 3px 3px 3px 3px  rgb(110, 110, 110);
}

#firstslide {
    background: url(/Images/PepperoniRolls\ -\ 400x300.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

#secondslide {
    background: url(/Images/Calzones\ -\ 400x300.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

#thirdslide {
    background: url(/Images/TailgatePartyHeadquarters\ -\ 400x300.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.special-span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    text-decoration: none;
    color: white;
    background-color: black;
    opacity: .7;
}

.special-span:hover {
    background-color: white;
    opacity: .7em;
    color: black;
}

.overlayspecial {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fe0000;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-specials-overlay:hover .overlayspecial {
    height: 100%;
}

.textspecial {
    color: white;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-bottom: 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 10px;
}

.textspecial h3 {
    margin-top: 10px;
    font-weight: bold;
}

#header-navlink {
    color: white;
}
/******** Large Devices *********/

@media (max-width: 1200px) {
    #special1, #special2, #special3 {
        height: 200px;
        width: 300px;
        position: relative;
        border: 3px solid black;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }
    
    #special2 {
        background: url(/Images/) no-repeat;
        background-size: cover;
    }
    
    #special3 {
        background: url(/Images/Ad-November-Screenshot2\ -\ 300x200.png) no-repeat;
        background-size: cover;
    }
}

/************* Medium Devices ***************/

@media (min-width: 992px) and (max-width: 1199px) {
    #special1, #special2, #special3 {
        height: 200px;
        width: 300px;
        position: relative;
        border: 3px solid black;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
    }
    
    #special2 {
        background: url(/Images/CoffeeClubImage\ -\ 300x200.png) no-repeat;
        background-size: cover;
    }
    
    #special3 {
        background: url(/Images/Ad-November-Screenshot2\ -\ 300x200.png) no-repeat;
        background-size: cover;
    }

    #firstslide {
        background: url(/Images/PepperoniRolls\ -\ 300x200.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
    }
    
    #secondslide {
        background: url(/Images/Calzones\ -\ 300x200.png) no-repeat;
        background-size: cover;
        height: 200px;
    }
    
    #thirdslide {
        background: url(/Images/TailgatePartyHeadquarters\ -\ 300x200.jpg) no-repeat;
        background-size: cover;
        height: 200px;
    }
}

/************ Small Devices ****************/

@media (min-width: 768px) and (max-width: 991px) {
    
    #special1 {
        width: 240px;
        height: 194px;
    }
    
    #special2 {
        background: url(/Images/CoffeeClubImage\ -\ 240x194.png) no-repeat; 
        background-size: cover;
        width: 240px;
        height: 194px;
    }
    
    #special3 {
        background: url(/Images/Ad-November-Screenshot2\ -\ 240x194.jpg) no-repeat; 
        background-size: cover;
        width: 240px;
        height: 194px;
        margin-right: auto;
        margin-left: auto;
    }

    #firstslide {
        background: url(/Images/PepperoniRolls\ -\ 240x194.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 194px;
    }
    
    #secondslide {
        background: url(/Images/Calzones\ -\ 240x194.png) no-repeat;
        background-size: cover;
        height: 194px;
    }
    
    #thirdslide {
        background: url(/Images/TailgatePartyHeadquarters\ -\ 240x194.png) no-repeat;
        background-size: cover;
        height: 194px;
    }

    .textspecial {
        font-size: 1rem;
    }

} 

/********** Extra small devices ******/

@media (min-width: 582px) and (max-width: 767px) {
    #text {
        font-size: 1.6rem;
    }

    #special1 {
        width: 240px;
        height: 194px;
    }
    
    #special2 {
        background: url(/Images/CoffeeClubImage\ -\ 240x194.png) no-repeat; 
        background-size: cover;
        width: 240px;
        height: 194px;
    }
    
    #special3 {
        background: url(/Images/Ad-November-Screenshot2\ -\ 240x194.jpg) no-repeat; 
        background-size: cover;
        width: 240px;
        height: 194px;
        margin-right: auto;
        margin-left: auto;
    }

    #firstslide {
        background: url(/Images/PepperoniRolls\ -\ 240x194.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 194px;
    }
    
    #secondslide {
        background: url(/Images/Calzones\ -\ 240x194.png) no-repeat;
        background-size: cover;
        height: 194px;
    }
    
    #thirdslide {
        background: url(/Images/TailgatePartyHeadquarters\ -\ 240x194.png) no-repeat;
        background-size: cover;
        height: 194px;
    }

    .specials-big-box {
        position: relative;
        top: 90px;
        padding: 0;
    }

    #special1, #special2 {
        padding: 0;
    }

    #special2 {
        margin-left: 10px;
    }

    #special3 {
        margin-top: 10px;
    }

    #footer {
        margin-top: 100px;
        background-color: black;
        color: white;
        font-size: .8em;
    }
} 

/********* Super small devices only ***********/

@media (max-width: 581px) {
    #special1, #special2, #special3 {
        margin-top: 10px;
    }

    #text {
        font-size: 1.3rem;
    }

    #special1 {
        width: 240px;
        height: 194px;
    }
    
    #special2 {
        background: url(/Images/CoffeeClubImage\ -\ 240x194.png) no-repeat;
        background-size: cover;
        width: 240px;
        height: 194px;
    }
    
    #special3 {
        background: url(/Images/Ad-November-Screenshot2\ -\ 240x194.jpg) no-repeat; 
        background-size: cover;
        width: 240px;
        height: 194px;
        margin-right: auto;
        margin-left: auto;
    }

    #firstslide {
        background: url(/Images/PepperoniRolls\ -\ 240x194.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 194px;
    }
    
    #secondslide {
        background: url(/Images/Calzones\ -\ 240x194.png) no-repeat;
        background-size: cover;
        height: 194px;
    }
    
    #thirdslide {
        background: url(/Images/TailgatePartyHeadquarters\ -\ 240x194.png) no-repeat;
        background-size: cover;
        height: 194px;
    }

    #footer {
        margin-top: 200px;
        background-color: black;
        color: white;
        font-size: .5rem;
    }
}